<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="stylesheet" href="static/styles/common.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.2.9/dist/purify.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css')}}"
    />
</head>
<body>
  <div class="header-container">
    <div class="menu">
        <button class="mui-btn" id="loginBtn">Login</button>
        <button class="mui-btn" id="registerBtn">Register</button>
    </div>
    <div class="logo-container">
        <img src="static/assets/GB_Logo_Energy_sk.png" alt="GymBeam Logo" class="logo">
    </div>
  </div>
<!-- Login Modal -->
<div id="loginModal" class="modal">
    <div class="modal-content-login">
        <span class="close" id="loginClose">&times;</span>
        <h2>Login</h2>
        <div class="form-container">
            <div class="input-icon">
            <input type="text" id="loginUsername" placeholder="Username">
                <span class="icon">&#128100;</span> <!-- Icon for username -->
            </div>
            <div class="input-icon">
            <input type="password" id="loginPassword" placeholder="Password">
                <span class="icon">&#128274;</span> <!-- Icon for password -->
            </div>
            <div>
                <input type="checkbox" id="rememberMe"> <label for="rememberMe">Remember me</label>
            </div>
            <div class="form-links">
                <a href="#" id="forgotPassword">Forgot Password?</a>
            </div>
            <button class="mui-btn" id="submitLogin">Submit</button>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div id="registerModal" class="modal">
    <div class="modal-content-login">
        <span class="close" id="registerClose">&times;</span>
        <h2>Register</h2>
        <div class="form-container">
            <div class="input-icon">
              <span class="icon">&#128100;</span> <!-- Icon for username -->
              <input class="text-register" id="registerUsername" placeholder="Username">
            </div>
            <div class="input-icon">
              <span class="icon">&#128274;</span> <!-- Icon for password -->
              <input class="text-register" type="password" id="registerPassword" placeholder="Password">
            </div>
            <div class="input-icon">
              <span class="icon">&#128274;</span> <!-- Icon for password confirmation -->
              <input class="text-register" type="password" id="registerConfirmPassword" placeholder="Confirm Password">
            </div>
            <button class="mui-btn" id="submitRegister">Submit</button>
        </div>
    </div>
</div>

<div class="container-fluid h-100 chat-container">
    <div class="row justify-content-center h-100">
      <div class="col-md-11 col-xl-6 chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img src="https://storage.googleapis.com/gb_chatbot_files_public/Jim profil.png" class="rounded-circle user_img" alt="Jim's profile picture" /><span class="online_icon"></span>
              </div>
              <div class="user_info">
                <h1>Jim</h1>
              </div>
            </div>
          </div>
          <div id="messageFormeight" class="card-body msg_card_body"></div>
          <div class="card-footer">
            <form id="messageArea" class="input-group">
              <input
                type="text"
                id="text"
                name="msg"
                placeholder="Type your message..."
                autocomplete="off"
                class="form-control type_msg"
                required
              />
              <div class="input-group-append">
                <button type="submit" id="send" class="input-group-text send_btn">
                  <i class="fas fa-location-arrow"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="static/scripts/script.js"></script>
<script src="static/scripts/chat.js"></script>
</body>
</html>
